<h1>Products</h1>

<ul>
  <% cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul><br><br>

<h1>Add a product</h1>

<%= form_tag("/", method: :post) do %>
  <%= label_tag "Product Name" %>
  <%= text_field_tag "product" %>

  <%= submit_tag "add to cart" %>
<% end %>